---
import Input from "../components/Input.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="home-url-shortener">
  <main>
    <Input
      label="url"
      type="text"
      url={import.meta.env.PUBLIC_VITE_HEROKU_URI}
    />
  </main>
</Layout>

<style>
  main {
    display: grid;
    justify-content: center;
    margin: 1.25rem;
    padding: 1rem;
  }
</style>
