---
import Input from "../components/Input";
import Layout from "../layouts/Layout.astro";
---

<Layout title="home-url-shortener">
  <main>
    <Input client:load />
  </main>
</Layout>

<style>
  main {
    display: grid;
    justify-content: center;
    margin: 1.25rem;
    padding: 1rem;
  }
</style>
