---
import Layout from "../layouts/Layout.astro";
import CustomTable from "../components/CustomTable.astro";

const backendUri = import.meta.env.PUBLIC_VITE_BACKEND_URI;
const data = await fetch(`${backendUri}/urls`)
  .then((r) => r.json())
  .catch((error) => console.error("An error ocurred.", error));
---

<Layout title="URL stats">
  <main class="flex justify-center m-5 p-4">
    <CustomTable>
      <Fragment slot="header">
        <tr><th>short_url</th><th>long_url</th></tr>
      </Fragment>

      <Fragment slot="body">
        {
          data &&
            data.map((item: any) => (
              <tr>
                <td>
                  <a
                    href={`${import.meta.env.PUBLIC_VITE_BACKEND_URI}/${
                      item.short_url
                    }`}
                  >
                    {item.short_url}
                  </a>
                </td>
                <td class="truncate cursor-pointer" id="truncatedText">
                  {item.long_url}
                </td>
              </tr>
            ))
        }
      </Fragment>
    </CustomTable>
  </main>
</Layout>
