---
import Layout from "../layouts/Layout.astro";
import CustomTable from "../components/CustomTable.astro";

const herokuUri = import.meta.env.VITE_HEROKU_URI;
const data = await fetch(`${herokuUri}/urls`).then((r) => r.json());
---

<Layout title="URL stats">
  <main>
    <CustomTable>
      <Fragment slot="header">
        <tr><th>short_url</th><th>long_url</th></tr>
      </Fragment>

      <Fragment slot="body">
        {
          data &&
            data.map((item: any) => (
              <tr>
                <td>
                  <a
                    href={`${import.meta.env.VITE_HEROKU_URI}/${
                      item.short_url
                    }`}
                  >
                    {item.short_url}
                  </a>
                </td>
                <td class="truncate cursor-pointer" id="truncatedText">
                  {item.long_url}
                </td>
              </tr>
            ))
        }
      </Fragment>
    </CustomTable>
  </main>
</Layout>
