---
import { type APIUrlsResponse, type URL } from "../types/api";
import Layout from "../layouts/Layout.astro";
import CustomTable from "../components/CustomTable.astro";

const backendUri = import.meta.env.PUBLIC_VITE_BACKEND_URI;
const response = await fetch(`${backendUri}/urls?page=1&pageSize=10`);
const { data: urls } = (await response.json()) as APIUrlsResponse;
---

<Layout title="URL">
  <main class="flex justify-center m-5 p-4">
    <CustomTable>
      <Fragment slot="header">
        <tr><th>short_url</th><th>long_url</th></tr>
      </Fragment>

      <Fragment slot="body">
        {
          urls &&
            urls.map((item: URL) => (
              <tr>
                <td>
                  <a
                    href={`${import.meta.env.PUBLIC_VITE_BACKEND_URI}/${
                      item.short_url
                    }`}
                  >
                    {item.short_url}
                  </a>
                </td>
                <td class="truncate cursor-pointer" id="truncatedText">
                  {item.long_url}
                </td>
              </tr>
            ))
        }
      </Fragment>
    </CustomTable>
  </main>
</Layout>
