<table class="border table-fixed w-full max-w-2xl font-semibold">
  <thead class="text-xl bg-pink-900"><slot name="header" /></thead>
  <tbody class="[&_tr:nth-child(odd)]:bg-pink-600 text-center"
    ><slot name="body" /></tbody
  >
</table>
