---
// Create a custom table with named slot placeholders for head and body content
---

<table class="border table-fixed w-full max-w-2xl font-semibold">
  <thead class="text-xl bg-purple-900"><slot name="header" /></thead>
  <tbody class="[&_tr:nth-child(odd)]:bg-purple-600"><slot name="body" /></tbody
  >
</table>
