---
interface Props {
  label: string;
  type: string;
  url: string;
}

const { label, type, url } = Astro.props;
---

<form id="formulario" class="grid md:grid-cols-3 mb-10">
  <input
    class="text-base text-black md:col-span-2"
    placeholder="Paste here your URL"
    type="text"
    id="long_url"
    name="long_url"
  />
  <button
    class="bg-purple-500 hover:bg-purple-700 text-base font-bold py-2 px-4 rounded md:col-span-1"
    type="button"
    id="upload-url">Shorten this URL!</button
  >
</form>
<p class="explanation">
  Hey there! ✨ <br /> Tired of having super long URLs for your pages? <br
  />Paste your link into the box above ⬆️ and get your new short link!
</p>

<script>
  const sendButton = document.getElementById("upload-url") as HTMLButtonElement;
  sendButton.addEventListener("click", async () => {
    try {
      const formulario = document.getElementById(
        "formulario"
      ) as HTMLFormElement;
      const data = new FormData(formulario);
      const longUrl = data.get("long_url");
      const response = await fetch(
        `${import.meta.env.PUBLIC_VITE_HEROKU_URI}/add`,
        {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ long_url: longUrl }),
        }
      );
      if (response.ok) {
        console.log("Solicitud exitosa");
      } else {
        console.error("Error en la solicitud:", response.status);
      }
    } catch (error) {
      if (error instanceof Error) {
        console.error(error.message);
      }
    }
  });
</script>

<style>
  .explanation {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .explanation strong {
    color: rgb(var(--accent-light));
  }
</style>
