---
interface Props {
  label: string;
  type: string;
}

const { label, type } = Astro.props;
const whatthefuck = import.meta.env.HEROKU_URI;
---

<form id="formulario">
  <label for="long_url">long_url</label>
  <input class="text-black" type="text" id="long_url" name="long_url" />
  <button type="button" id="upload-url">Send</button>
</form>

<script>
  const sendButton = document.getElementById("upload-url") as HTMLButtonElement;
  sendButton.addEventListener("click", async () => {
    try {
      const formulario = document.getElementById(
        "formulario"
      ) as HTMLFormElement;
      const data = new FormData(formulario);
      const longUrl = data.get("long_url");
      const response = await fetch(`${import.meta.env.VITE_HEROKU_URI}/add`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ long_url: longUrl }),
      });
      if (response.ok) {
        console.log("Solicitud exitosa");
      } else {
        console.error("Error en la solicitud:", response.status);
      }
    } catch (error) {
      if (error instanceof Error) {
        console.error(error.message);
      }
    }
  });
</script>
